@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.heading{
    margin-top: 5%;
    margin-bottom: 8%;
    font-size: larger;
    text-align: center;
}

.email{
    color: rgb(183, 139, 57);
    text-decoration: none;
}
.email:hover{
    color: blueviolet;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.648);
    transition: 0.8s;
}

.subhead{
    color: rgba(181, 179, 179, 0.896);
    padding-bottom: 15px;
}

.section{
    padding-bottom: 10px;
    padding-top: 10px;
    text-align:center;
}

.lisec{
    justify-content: space-between;
}

.links{
    text-decoration: none;
    font-size: medium;
    color: white;
}

.links:hover{
    color: rgb(199, 150, 59);
}

.icon{
    height: 30px;
    padding: 5px;
}