.navbar{
    height: 90px;
    background-color: transparent;
    color: white;
    flex-grow: 150;
    flex-grow: 80px;
    justify-content: space-between;
}

.afterscroll{
    background-color:  rgba(234, 234, 234, 0.5);
    color: white;
    flex-grow: 100px;
    height: 80px;
    transition: 1s;
    backdrop-filter: blur(8px);
}
.sidebar{
    max-width: 80%;
    background-color:  rgb(124, 124, 124);
}

.navlink{
    margin-right: 50px;
    color: white;
}

.toggle{
    color: white;
}

.navlink:hover{
    transition-duration: 1s;
    transition-property: all;
    transform: scale(1);
    color: blue;
    transition: 1s;
}