.navbar{
    height: 90px;
    background-color: transparent;
    color: white;
    flex-grow: 150;
    flex-grow: 80px;
    justify-content: space-between;
}

.afterscroll{
    background-color:  rgba(234, 234, 234, 0.903);
    color: rgb(214, 183, 57);
    flex-grow: 100px;
    height: 80px;
    transition: 1s;
    backdrop-filter: blur(8px);
}
.sidebar{
    max-width: 80%;
    padding: 15px;
    text-align: center;
    font-size: medium;
}

.navlink{
    margin-right: 50px;
    color: rgb(224, 164, 53);
}

.toggle{
    color: white;
}

.navlink:hover{
    transition-duration: 1s;
    transition-property: all;
    transform: scale(1);
    color: rgb(204, 153, 58);
    transition: 1s;
}

.navlink::after{
    color: rgb(195, 147, 58);
}