@import url('https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap');

.card{
    margin: 5px;
    padding: 10px;
    height: 350px;
    background: rgba(255, 252, 252, 0.122);
    backdrop-filter: blur(8px);
    color: rgb(205, 203, 203);
    box-shadow: 0 4px 8px 0 rgba(185, 184, 184, 0.401), 0px 5px 15px 0 rgba(255, 255, 255, 0.42);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title{
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    text-decoration: overline;
    font-family: "Playwrite IS", cursive;
}

.experience{
    display: flex;
}

.card:hover{
    transform: scale(0.9);
    box-shadow: none;
    border-radius: 10px;
    background: transparent;
    transition: 0.5s;
}
.head{
    color: rgb(191, 191, 87);
}
.duretion{
    color: white;
}