.Home{
   width: 95%;
}

.Heading{
   text-align: center;
   padding-top: 40px;
   padding-bottom: 40px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-decoration: underline;
}

.text-containt{
   margin-top: 80px;
   margin-bottom: 10px;
   text-align: center;
}

.skills{
   margin-top: 2px;
   margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
   .Image_section{
    display: none;
   }

   .text-containt{
      background-color: rgba(100, 99, 99, 0.5);
      color: white;
      padding: 15px;
      margin-top: 5px;
   }
}