.Home{
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: rgba(220, 220, 220, 0.5);
  justify-content: center;
}

.text-containt{
   margin-top: 80px;
   margin-bottom: 10px;
   text-align: center;
}

.skills{
   margin-top: 2px;
   margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
   .Image_section{
    display: none;
   }

   .text-containt{
      background-color: rgba(100, 99, 99, 0.5);
      color: white;
      padding: 15px;
      margin-top: 5px;
   }
}